@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,600,700');

body {
    font-family: "Roboto", sans-serif;
}


/*----------------------------------------- Sidebar */
.navbar {
    width: 250px;
    height: 100vh;
    position: fixed;
    background-color: #939393;
    border: none;
}

.nav-image {
    height: 75%;
    width: 75%;
    margin-top: 30px;
}

#sidebar-header {
    background-color: #f2f2f2;
    padding-bottom: 20px;
}

.sidebar-element {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 15px;
    font-size: 1.1em;
}

.dc-select-menu {
    width: 220px;
}

#reset-button {
    margin-left: 15px;
    padding: 0;
}

#reset-all {
    width: 220px;
    height: 60px;
    background-color: #d72519;
    color: #ffffff;
    font-size: 1.2em;
    border-radius: 15px;
}


/*----------------------------------------- Headings + Special Classes*/
.section-heading {
    margin: 0;
    padding-top: 30px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-left: 250px;
}

.darker-section {
    background-color: #f2f2f2;
    width: 100%;
}

.bar-chart-margin {
    margin-left: 450px;
}


/*----------------------------------------- Score To Position Bar Chart*/


/*----------------------------------------- Pie Charts Section*/
.pie-charts-container {
    margin-top: 500px;
    height: 400px;
}

.pie-chart-heading h2 {
    text-transform: uppercase;
    font-size: 190%;
    margin-bottom: 0;
    margin-top: 40px;
    letter-spacing: 1px;
    font-weight: 300;
}

#offence-defence {
    font-size: 50%;
}

#work-rate-chart {
    margin-right: -30px;
}


/*----------------------------------------- Salary to Position Bar Chart*/


/*----------------------------------------- Who's Number One*/
.number-one-container {
    margin-top: 530px;
}

.messi-image {
}

.statistics-container {
    display: block;
    position: absolute;
    margin-top: 125px;
}

.number-one-heading {
    margin-bottom: 50px;
}

.player-stat-text {
    font-size: 2.8em;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 300;
}

.border-line { 
    margin: 45px 0;
    height: 1px;
    background: black;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(#f2f2f2), to(#f2f2f2), color-stop(50%, #3fb1de));
}




